services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: drf_backend
    command: >
      sh -c "python manage.py makemigrations && python manage.py migrate && daphne -b 0.0.0.0 -p 8000 BGProject.asgi:application"
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    depends_on:
      - db
      - redis
    environment:
      - DJANGO_DEBUG=True
      - PYTHONUNBUFFERED=1
      - DJANGO_SETTINGS_MODULE=BGProject.settings

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./backend/staticfiles:/static
    depends_on:
      - backend

  db:
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: appdb
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: always
    volumes:
      - redis_data_dev:/data

  mosquitto:
    image: eclipse-mosquitto:2
    restart: always
    ports:
      - "1883:1883"
    volumes:
      - mosquitto_data:/mosquitto/data
      - mosquitto_log:/mosquitto/log
      - ./mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro

  frontend:
    build:
      context: ./frontend/react-app
    ports:
      - "8090:90"
    depends_on:
      - backend

  mqtt_subscriber:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: mqtt_subscriber
    command: >
      sh -c "python backend/dataSensor/MqttSub.py"
    volumes:
      - ./backend:/app
    depends_on:
      - backend
      - mosquitto
    environment:
      - DJANGO_SETTINGS_MODULE=BGProject.settings

  data_saver:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: data_saver
    command: >
      sh -c "python manage.py start_data_saver"
    volumes:
      - ./backend:/app
    env_file:
      - ./backend/.env
    depends_on:
      - db
      - redis
      - backend
    environment:
      - DJANGO_SETTINGS_MODULE=BGProject.settings

volumes:
  postgres_data_dev:
  redis_data_dev:
  pgdata:
  mosquitto_data:
  mosquitto_log: